html {
    font-family:sans-serif;
    border: 10px solid #712822;
    padding:0px;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.prepared{
    color: white;
    font-size: 45px;
    background-color: #C94314;
    padding-top: 15px;
    margin-top: 0px;
}
.finished{
    color: #712822;
    font-size: 45px;
    background-color: #9CE76A;
    padding-top: 15px;
    margin-top: 0px;
}
.header{
    height: 200px;
    text-align: center;
}
.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

.o {
    font-size: 90px;
    color:#712822;
    font-weight: 900;
    background-color: #e9e9e9;
    display: inline-block;
    padding: 10px;
    width:40%;
    margin: 20px;
}

.orderfin{
    background-color: white;
    height: 600px;
}
<<<<<<< HEAD

=======
.orderprep{
    background-color: white;
    height: 600px;
}
>>>>>>> fe05a7959af98468c5ec054ce353c47c63af0bcf
.order24, order25, order26{
    background-color: #B8B8B8;
    margin-bottom: 12px;
    padding: 4px;
}
.header24, header25, header26{
    text-align: left;
    font-size: 30px;
    padding-left: 25px;
}
.button24, button25, button26{
    font-size: 30px;
    border:black;
    color: black;
    background-color: #4237a1;
    border-radius: 25px;
    padding: 15px; 
    margin-left: 1300px;
    margin-bottom: 20px;
}

.pizza24, pizza25, pizza26{
    padding-left: 25px;
}

.itemDone {
    width:200px;
    height: 80px;
    background-color: #9CE76A;
    color: #2a4518;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: auto;


}