<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylecustomer.css') }}" />
    <head>
        <title>Kitchen</title>
    </head>
    <body style="background-color: #dbdbdb; margin:15px">
        <header style="text-align: center;">Orders</header>
        <main class = "main">
        <div class = "item">
            <h1 class ="item-name">Order number 24 <br></h1>
            <div class = "container24">
            <P class ="pizza24">1x Pizza Pepperoni</p>
            <button class = "button24">Completed</button>
            </div>
        </div>
            <div class = "item">
            <h1 class ="item-name">Order number 25 <br></h1>
            <P class = "pizza25">1x Pizza Pepperoni <br>
               1x Pizza Margherita</p>
            <button class = "button25">Completed</button>
            </div>
            <div class="item">
            <h1 class ="item-name">Order number 26 <br></h1>
            <P class = "pizza26">1x Pizza Tuna</P>
            <button class = "button26">Completed</button>
            </div>
        </main>
    </body>
</html>