<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylecustomer.css') }}" />
    <head>
        <title>Kitchen</title>
        <meta http-equiv="refresh" content="1">
    </head>
    <body style="background-color: #dbdbdb; padding:15px">
        <p style="text-align: center; background-color: #dbdbdb; font-size: larger;"><strong>Orders</strong></p>
        {% if allOrders|length > 0 %}
            {%for totalOrder in allOrders %}
                <div class = "item" style="border-radius: 20px;">
                    <div class="column">
                        <h1 class="item-name" style="margin-left: 0px">Order number {{ totalOrder.uniqueID }}</h1>
                        {% if pizza1 %}
                        <p style="font-size: 20px; margin: 5px">{{ totalOrder.pizza1 }}</p>
                        {% endif %}
                        {% if pizza2 %}
                        <p style="font-size: 20px; margin: 5px">{{ totalOrder.pizza2 }}</p>
                        {% endif %}
                        {% if pizza3 %}
                        <p style="font-size: 20px; margin: 5px">{{ totalOrder.pizza3 }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <button class="add" style="height: 60%; margin-top:20%">Completed</button>
                    </div>
                </div>
                
            {%endfor%}
        {% endif %}
    </body>
</html>