<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylemario.css') }}" />
    <title>Cash Register</title>
</head>
<body>
    <div class="grid-container">
        <div class="left-grid">
            <div class="scrollspy">
                <form action="/addpizzamario" method="post">
                    <div class="combined-section">
                        <div class="box">
                            <div class="box-image">
                                <img src="{{url_for('static', filename='Margherita.png')}}" alt="Pizza Margherita">
                            </div>
                            <div class="box-details">
                                <h2 class="box-title" style="font-size: 25px;">Pizza Margherita</h2>
                                <p class="box-ingredients" style="font-size: 16px;">Tomato sauce & cheese</p>
                            </div>
                        </div>
                        <!-- <div class="section">
                            <h2 class="section-title">Extra Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="topping1" name="topping1">
                                <label for="topping1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="topping2" name="topping2">
                                <label for="topping2">Cheese</label>
                            </div>
                        </div>
                        <div class="section">
                            <h2 class="section-title">Remove Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="remove1" name="remove1">
                                <label for="remove1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="remove2" name="remove2">
                                <label for="remove2">Cheese</label>
                            </div>
                        </div> -->
                        <div class="section">
                            <h2 class="section-title1">Price</h2>
                            <p class="section-price">€5,99</p>
                            <div>
                                <input type="hidden" id="Pizza1" name="addpizzamario" value="Margherita" class="add-button">
                                <input class="add-button" type="submit" value="Add">      
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/addpizzamario" method="post">
                    <div class="combined-section">
                        <div class="box">
                            <div class="box-image">
                                <img src="{{url_for('static', filename='Pepperoni.png')}}" alt="Pizza Pepperoni">
                            </div>
                            <div class="box-details">
                                <h2 class="box-title" style="font-size: 25px;">Pizza Pepperoni</h2>
                                <p class="box-ingredients" style="font-size: 16px;">Tomato sauce, pepperoni, cheese</p>
                            </div>
                        </div>
                        <!-- <div class="section">
                            <h2 class="section-title">Extra Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="topping1" name="topping1">
                                <label for="topping1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="topping2" name="topping2">
                                <label for="topping2">Cheese</label>
                            </div>
                        </div>
                        <div class="section">
                            <h2 class="section-title">Remove Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="remove1" name="remove1">
                                <label for="remove1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="remove2" name="remove2">
                                <label for="remove2">Cheese</label>
                            </div>
                        </div> -->
                        <div class="section">
                            <h2 class="section-title1">Price</h2>
                            <p class="section-price">€6,99</p>
                            <div>
                                <input type="hidden" id="Pizza2" name="addpizzamario" value="Pepperoni" class="add-button">
                                <input class="add-button" type="submit" value="Add">      
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/addpizzamario" method="post">
                    <div class="combined-section">
                        <div class="box">
                            <div class="box-image">
                                <img src="{{url_for('static', filename='Tuna.png')}}" alt="Pizza Pepperoni">
                            </div>
                            <div class="box-details">
                                <h2 class="box-title" style="font-size: 25px;">Pizza Tuna</h2>
                                <p class="box-ingredients" style="font-size: 16px;">Tomato sauce, tuna, onion, olives & cheese</p>
                            </div>
                        </div>
                        <!-- <div class="section">
                            <h2 class="section-title">Extra Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="topping1" name="topping1">
                                <label for="topping1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="topping2" name="topping2">
                                <label for="topping2">Cheese</label>
                            </div>
                        </div>
                        <div class="section">
                            <h2 class="section-title">Remove Toppings</h2>
                            <div class="topping">
                                <input type="checkbox" id="remove1" name="remove1">
                                <label for="remove1">Pepperoni</label>
                            </div>
                            <div class="topping">
                                <input type="checkbox" id="remove2" name="remove2">
                                <label for="remove2">Cheese</label>
                            </div>
                        </div> -->
                        <div class="section">
                            <h2 class="section-title1">Price</h2>
                            <p class="section-price">€7,99</p>
                            <div>
                                <input type="hidden" id="Pizza3" name="addpizzamario" value="Tuna" class="add-button">
                                <input class="add-button" type="submit" value="Add">      
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <div class="combined-section">
                    <div class="box">
                        <div class="box-image">
                            <img src="{{url_for('static', filename='cola.jpg')}}" alt="cola">
                        </div>
                        <div class="box-details">
                            <h2 class="box-title">Coca-Cola</h2>
                            <p class="box-ingredients">500ml</p>
                            <div class="box-amount">
                                <p>Amount:</p>
                                <div class="amount-controls">
                                    <button class="decrease">-</button>
                                    <span class="amount">1</span>
                                    <button class="increase">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h2 class="section-title1">Price</h2>
                        <p class="section-price">€1.99</p>
                        <button class="add-button">Add</button>
                    </div>
                </div> -->
                <!-- Add more content for the left grid here -->
            </div>
        </div>
        <div class="right-grid">
            <h2>Overview</h2>
            <div class="total-section">
                <div style="overflow-y: scroll; height: 400px">
                    {% if Margherita in OverviewMario %}
                    <div class="item" style="width:330px">
                        <div class="column">
                            <div class="row">
                                <p style="font-size:20px; font-weight:700;">Pizza Margherita</p>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <p style="font-size:17px">Tomato sauce & cheese</p>
                                <p class="item-price">€5,99</p>
                            </div>
                        </div>
                        <form action="/removepizzamario" method="post">
                            <input type="hidden" id="remove1" name="removepizzaMario" value="removeMargherita">
                            <input class="remove" type="submit" value="Remove">      
                        </form>           
                    </div>
                    {% endif %}
                    {% if Pepperoni in OverviewMario %}
                    <div class="item">
                        <div class="column">
                            <div class="row">
                                <p style="font-size:20px; font-weight:700;">Pizza Pepperoni</p>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <p style="font-size:17px">Tomato sauce, cheese & pepperoni</p>
                                <p class="item-price">€6,99</p>
                            </div>
                        </div>
                        <form action="/removepizzamario" method="post">
                            <input type="hidden" id="remove2" name="removepizzaMario" value="removePepperoni">
                            <input class="remove" type="submit" value="Remove">      
                        </form>           
                    </div>
                    {% endif %}
                    {% if Tuna in OverviewMario %}
                    <div class="item">
                        <div class="column">
                            <div class="row">
                                <p style="font-size:20px; font-weight:700;">Pizza Tuna</p>
                            </div>
                            <div class="row">
                                <hr>
                            </div>
                            <div class="row">
                                <p style="font-size:17px">Tomato sauce, tuna, onion, olives & cheese</p>
                                <p class="item-price">€7,99</p>
                            </div>
                        </div>
                        <form action="/removepizzamario" method="post">
                            <input type="hidden" id="remove3" name="removepizzaMario" value="removeTuna">
                            <input class="remove" type="submit" value="Remove">      
                        </form>           
                    </div>
                    {% endif %}
                </div>
                <form action="/paymario" method="post">
                    <div>
                        <p><strong>Total: €{{ TotalPriceMario }}</strong></p>
                        <input type="submit" name="submit" value="Pay & Proceed" class="pay-button">
                    </div>
                </form>
            </div>
        </div>
        <div class="remaining-grid">
            <!-- Your content for the remaining grid -->
        </div>
    </div>
</body>
</html>
