<!DOCTYPE html>
<html style="margin: 0px; padding:0px; height:97.3%">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='customer.css') }}" />
    <head style="margin:0px">
        <title>Screen Pizzeria</title>
        <meta http-equiv="refresh" content="1">
    </head>
    <body style="margin:0px">
        <header class = "header" style="height:120px">
            <h1 class = "prepared">Being prepared</h1>
            <h1 class = "finished">Finished</h1>
        </header>
        <main class = "body">
            <div class = "orderprep">
                {% for totalOrder in allOrders %}
               <p class = "o">{{ totalOrder.uniqueID }}</p>
               {% endfor %}
            </div>
            <div class = "orderfin">
                <p class = "o">(uniqueID)</p>
            </div>
        </main>
    </body>
</html>